body{
    background: rgb(5,32,32);
    background: linear-gradient(0deg, rgb(138, 132, 120) 0%, rgb(175, 173, 164) 50%, rgb(240, 234, 199) 100%) no-repeat center center fixed;
    background-size: cover;
}

input{
    background-color: #685142;;
    border-radius: 5%;
    border-color: #685142;;
    cursor: pointer;
    border-width: 0px;
    text-align: center;
    font: 20px Arial, Helvetica, sans-serif;
    color: beige;
    transition: 0.3s ease-in-out;

}

input:hover{
    background-color: rgba(255, 255, 255, 0.267);
    color: rgb(31, 28, 28);
}

a:hover{
    background-color: rgba(255, 255, 255, 0.267);
    color: rgb(31, 28, 28);
}

input{
    width: 300px;
    height: 55px;
}

span{
    width:100%;
    height: 150px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh;
}

@media only screen and (max-width: 500px) {
    .umfrageBody{
        width: 95%;
        height: 80%;
        
    }

    .ifram{
        width: 100%;
        height: 100%;
    }

  }

